@tailwind base;

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30.0000 75.0000% 98.4314%;
    --foreground: 197.3333 37.1901% 23.7255%;
    --card: 0 0% 100%;
    --card-foreground: 197.3333 37.1901% 23.7255%;
    --popover: 0 0% 100%;
    --popover-foreground: 197.3333 37.1901% 23.7255%;
    --primary: 172.6957 57.7889% 39.0196%;
    --primary-foreground: 0 0% 100%;
    --secondary: 26.5306 86.9822% 66.8627%;
    --secondary-foreground: 197.3333 37.1901% 23.7255%;
    --muted: 21.8182 84.6154% 94.9020%;
    --muted-foreground: 199.3548 14.5540% 41.7647%;
    --accent: 42.5197 74.2690% 66.4706%;
    --accent-foreground: 197.3333 37.1901% 23.7255%;
    --destructive: 12.0000 75.7576% 61.1765%;
    --destructive-foreground: 0 0% 100%;
    --border: 38.7097 36.4706% 83.3333%;
    --input: 38.7097 36.4706% 83.3333%;
    --ring: 172.6957 57.7889% 39.0196%;
    --chart-1: 172.6957 57.7889% 39.0196%;
    --chart-2: 42.5197 74.2690% 66.4706%;
    --chart-3: 26.5306 86.9822% 66.8627%;
    --chart-4: 12.0000 75.7576% 61.1765%;
    --chart-5: 197.3333 37.1901% 23.7255%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 197.3333 37.1901% 23.7255%;
    --sidebar-primary: 172.6957 57.7889% 39.0196%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 42.5197 74.2690% 66.4706%;
    --sidebar-accent-foreground: 197.3333 37.1901% 23.7255%;
    --sidebar-border: 38.7097 36.4706% 83.3333%;
    --sidebar-ring: 172.6957 57.7889% 39.0196%;
    --font-sans: Inter;
    --font-serif: Merriweather;
    --font-mono: JetBrains Mono;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.05);
    --shadow-xs: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.05);
    --shadow-sm: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.10), 0px 1px 2px -1px hsl(215.3846 16.3180% 46.8627% / 0.10);
    --shadow: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.10), 0px 1px 2px -1px hsl(215.3846 16.3180% 46.8627% / 0.10);
    --shadow-md: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.10), 0px 2px 4px -1px hsl(215.3846 16.3180% 46.8627% / 0.10);
    --shadow-lg: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.10), 0px 4px 6px -1px hsl(215.3846 16.3180% 46.8627% / 0.10);
    --shadow-xl: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.10), 0px 8px 10px -1px hsl(215.3846 16.3180% 46.8627% / 0.10);
    --shadow-2xl: 0px 4px 8px 0px hsl(215.3846 16.3180% 46.8627% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 198.0000 43.4783% 18.0392%;
    --foreground: 38.1818 33.3333% 93.5294%;
    --card: 197.3333 37.1901% 23.7255%;
    --card-foreground: 38.1818 33.3333% 93.5294%;
    --popover: 197.3333 37.1901% 23.7255%;
    --popover-foreground: 38.1818 33.3333% 93.5294%;
    --primary: 172.6957 57.7889% 39.0196%;
    --primary-foreground: 0 0% 100%;
    --secondary: 26.5306 86.9822% 66.8627%;
    --secondary-foreground: 197.3333 37.1901% 23.7255%;
    --muted: 197.6471 33.7748% 29.6078%;
    --muted-foreground: 198.7500 10.1266% 69.0196%;
    --accent: 42.5197 74.2690% 66.4706%;
    --accent-foreground: 197.3333 37.1901% 23.7255%;
    --destructive: 12.0000 75.7576% 61.1765%;
    --destructive-foreground: 0 0% 100%;
    --border: 197.6471 33.7748% 29.6078%;
    --input: 197.6471 33.7748% 29.6078%;
    --ring: 172.6957 57.7889% 39.0196%;
    --chart-1: 172.6957 57.7889% 39.0196%;
    --chart-2: 42.5197 74.2690% 66.4706%;
    --chart-3: 26.5306 86.9822% 66.8627%;
    --chart-4: 12.0000 75.7576% 61.1765%;
    --chart-5: 173.5714 30.7692% 64.3137%;
    --sidebar: 198.0000 43.4783% 18.0392%;
    --sidebar-foreground: 38.1818 33.3333% 93.5294%;
    --sidebar-primary: 172.6957 57.7889% 39.0196%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 42.5197 74.2690% 66.4706%;
    --sidebar-accent-foreground: 197.3333 37.1901% 23.7255%;
    --sidebar-border: 197.6471 33.7748% 29.6078%;
    --sidebar-ring: 172.6957 57.7889% 39.0196%;
    --font-sans: Inter;
    --font-serif: Merriweather;
    --font-mono: JetBrains Mono;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.10);
    --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.10);
    --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
    --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
    --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
    --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.50);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
